* {
    font-family: 'Courier New', Courier, monospace;
}

/* SHAPES */
body {
    background-image: linear-gradient(45deg, #ffffff, #32CCBC);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid rgba(255, 255, 255, 0.507);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

img {
    margin-top: 20%;
    margin-left: 17px;
}
/* /SHAPES */

/* TEXTOS */
#titulo {
    margin: 15px auto 0 auto;
    width: fit-content;
    font-weight: bolder;
    font-size: 1.5em;
}
#cronometro {
    margin-left: 20px;
    font-weight: bolder;
    font-size: 1.5em;
}
#placar {
    text-align: center;
    font-weight: bolder;
    font-size: 6em;
}
#recorde {
    margin: 25px auto 0 auto;
    width: fit-content;
    font-size: 0.9em;
    font-weight: bolder;
    line-height: 1.4em;
}
/* /TEXTOS */

/* BOTÕES */
#btn-contar, #btn-reset {
    height: 50px;
    border-radius: 100px;
    display: block;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
}
#btn-contar {
    width: 300px;
    margin: 5px auto 0 auto;
}
#btn-reset {
    width: 150px;
    margin: 25px auto 0 auto;
}
/* /BOTÕES */

/* Resolução para celulares */
@media all and (max-width: 420px) {

    .container {
        margin-right: 10%;
        margin-bottom: 13%;
        width: 300px;
    }

    #btn-contar {
        width: 200px;
        height: 70px;
    }
    #btn-reset {
        width: 100px;
    }
    img {
        margin-top: 15%;
    }
    #placar {
        margin-bottom: 10px;
    }

}
/* /Resolução para celulares */